# Pandas

In [1]:
import pandas as pd

# Pandas series

In [6]:
obj = pd.Series([4, 7, -5, 3])

#### Filtering data

In [7]:
obj[obj%2 == 0]

0    4
dtype: int64

#### Scaler operations

In [10]:
obj+5, obj*2

(0     9
 1    12
 2     0
 3     8
 dtype: int64,
 0     8
 1    14
 2   -10
 3     6
 dtype: int64)

#### Creating series from a dictionary

In [11]:
sdata = {'Ohio':3500,'Texas':71000, 'Oregon':16000, 'Utah':5000,}
obj3 = pd.Series(sdata)
print(obj3)

Ohio       3500
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

# Pandas dataframe

### *Constructing pandas dataframe*

#### 1.From list